table {
  width: 100%;
}
table, th, td {
  border: 2px solid blue;
  border-collapse: collapse;
  padding: 5px;

}
th {
  text-align: left;
}
th {
  background-color: blue;
  color: white;
}
.pass {
  background-color: green;
  color: white;
}
.fail {
  background-color: red;
  color: white;
}